
CapstoneStart/Assets/UnderwaterPack/URP_EXTRACTME.unitypackage.meta
Modeling/Maya projects/BabyDoll/abandoned_tiled_room_8k_Raw_ACEScg.hdr.tx
CapstoneStart/Assets/Videos/Traps.mp4.meta
CapstoneStart/Assets/Videos/Traps.mp4
CapstoneStart/Assets/Videos/Hope.mp4.meta
CapstoneStart/Assets/Videos/Hope.mp4
CapstoneStart/Assets/Videos/Degen.mp4.meta
CapstoneStart/Assets/Videos/Degen.mp4
CapstoneStart/Assets/ResourceAssets/VFX/Videos/Degen.mp4
CapstoneStart/Assets/ResourceAssets/VFX/Videos/Degen.mp4.meta
CapstoneStart/Assets/ResourceAssets/VFX/Videos/Hope.mp4
CapstoneStart/Assets/ResourceAssets/VFX/Videos/Hope.mp4.meta
CapstoneStart/Assets/ResourceAssets/VFX/Videos/Traps.mp4
CapstoneStart/Assets/ResourceAssets/VFX/Videos/Traps.mp4.meta
